.ant-table-thead>tr>th{
    background-color: #fff;
    border-top:1px solid #CFCFCF;
}
.ant-table-thead>tr>th:first-child{
    border-left:1px solid #CFCFCF; 
    
}
.point{
    cursor: pointer;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #007AFF;
}