.topTitle{
    width: 93.8%;
    height: 72px;
    font-family: PingFangSC-Medium;
    font-size: 1.5rem;
    color: #1E2326;
    margin:2.4% auto 1.5%;
    border-radius: 5px;
    vertical-align: center;
    
    /* margin: 20px 0; */
    background: #FFFFFF;
    border: 0 solid #F0F0F0;
    box-shadow: 0 0 6px 6px rgba(59,59,59,0.04);
    
}
.titleC{
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    /* height: 80px !important ; */
    box-sizing: content-box;
    box-shadow: 10px;
}
.tablec{
    width: 93.8%;
    height: 783px;
    /* background-color: #fff; */
    margin: auto;
    border-radius: 5px;
    /* box-shadow: 0 0 5px #888888; */
    background: #FFFFFF;
    box-shadow: 0 5px 25px 0 rgba(234,234,234,0.50);
    border-radius: 5px;
    border-radius: 5px;
}
.divtxt{
    /* text-align: center; */
    /* position: relative; */
    margin-bottom:0 !important; 
    /* padding-bottom: 0; */
    
}
.divtxt>p{
    font-size: 8px;
    width:240px;
    color:#888888;
    text-align:left; 
    position: relative  ;
    right: -120px;
    margin: 0;
    /* margin:auto; */
    /* float: right; */

}
.btncss{
    width: 8.33rem;
    height: 2.67rem;
    min-width: 100px;
    min-height: 32px;

}